.main-create-event-container {
  position: relative;
  top: 50px;
  width: 800px;
  margin: auto;
  display: column;
  justify-content: center;
  margin: 60px 0 0 450px;
}

.create-event {
  width: 500px;
}
