.events-main {
    padding: 0 36px 42px 36px;
    margin-top: 60px;
}

.events-main h1 {
    text-align: left;
    margin-left: 20px;
}

.events-content {
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.events-content a {
    color: black;
    text-decoration: none;
}

.events-content a:hover {
    text-decoration: underline;
}

.all-events-container {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
    height: 370px;
    margin-top: 20px;
    padding: 8px;
    width: 250px;
}

.all-events-container:hover {
    box-shadow: 0 0 10px grey;
}

.event_images {
    padding-bottom: 20px;
}

.event_images img {
    object-fit: contain;
    width: 100%;
}

.event_title {
    font-weight: bold;
    margin-top: 20px;
}
