* {
  box-sizing: border-box;
}

.nav_content {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 100%;
  justify-content: space-between;
  background-color: white;
  min-height: 67px;
  max-height: 67px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "left right";
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 3;
}



#home-a {
  width: auto;
  height: auto;
}

.navbar_left {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  padding-left: -3px;
  margin-left: 40px;
}

.search_bar {
  display: flex;
  margin-left: 15px;
}

.navbar_right {
  grid-area: right;
  display: flex;
  justify-content: flex-end;
}

.magnifier {
  height: 22px;
  margin-left: -40px;
  background-color: #7E7E7E;
  margin-top: 24px;
  border-radius: 7px;
}

.events_search {
  padding-right: 20px;
  align-self: center;
  border: none ;
  background-color: #F8F7Fa;
  border-radius: 3px;
  height: 43px;
  width: 450px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-size: 20px 20px;
}

.navbar_login_btn {
  background-color: inherit;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 3px;
}

.navbar_signup_btn {
  background-color: inherit;
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 3px;
}

.navbar_logo {
  /* height: 60px; */
  width: 140px;
  margin-right: 10px;
  align-self: center;
  margin-bottom: 5px;
}


